<div id="3" class="success-section-anchor"></div>
<div class="div-step3 pagewidth-limiter">
    <div class="dashboard-content">
                <div class="row 1">
                    <div class="col-lg-12 nopad">
                        <div class="chartContainer-white">
                            <div class="chartHeader"><div class="chartTitle">Overall Transition Summary</div></div>
                            <div class="col-lg-3 nopad">
                                <div class="pad10"><img src="/asset/img/img/ots1.png" alt="" width="100%"></div>
                            </div>
                            <div class="col-lg-9">
                                <div class="pad10 nopad"><img src="/asset/img/img/ots2.png" alt="" width="100%"></div>
                            </div>
                            <div style="clear:both;"></div>
                        </div> 
                    </div>
                </div>
                <div class="row 2">
                    <div class="col-lg-5 nopad">
                        <div class="chartContainer-white">
                            <div class="chartHeader"><div class="chartTitle">Service Readiness</div></div>
                            <div class="pad10"><img src="/asset/img/img/sr.png" alt="" width="100%"></div>
                        </div>
                        <div class="chartContainer-white">
                            <div class="chartHeader"><div class="chartTitle">Risks</div></div>
                            <div class="pad10"><img src="/asset/img/img/risks.png" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div class="col-lg-7 nopad">
                        <div class="chartContainer-white">
                        <div class="chartHeader"><div class="chartTitle">Schedule</div></div>
                            <div class="pad10"><img src="/asset/img/img/schedule.png" alt="" width="100%"></div>
                        </div>
                    </div>           
                </div>
            </div>
</div>