<div id="3" class="success-section-anchor"></div>
<div class="div-step3 pagewidth-limiter">
            <div class="dashboard-content">
                <div class="row">
                    <div class="col-sm-4 nopad">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="chartContainer-white">
                                    <div class="chartHeader"><div class="chartTitle">Incident Impact</div></div>
                                    <div class="pad10"><img src="/asset/img/incident_impact.png" alt="" width="100%"></div>                                    
                                </div>                                
                            </div>
                            <div class="col-sm-12">
                                <div class="chartContainer-white">
                                    <div class="chartHeader"><div class="chartTitle">Key</div></div>
                                    <div class="pad10"><img src="/asset/img/incident_impact_key.png" alt="" width="100%"></div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 nopad">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="chartContainer-white">
                                    <div class="chartHeader"><div class="chartTitle"></div></div>
                                    <div class="pad10"><img src="/asset/img/worldmap.png" alt="" width="100%"></div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="chartContainer-white">
                                    <div class="chartHeader"><div class="chartTitle smallChart">Revenue Loss</div></div>
                                    <div class="pad10"><img src="/asset/img/STI_indicator_1.png" alt="" width="100%"></div>                                    
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="chartContainer-white">
                                    <div class="chartHeader"><div class="chartTitle smallChart">On Time Departure</div></div>
                                    <div class="pad10"><img src="/asset/img/STI_indicator_2.png" alt="" width="100%"></div>                                    
                                </div>
                                
                            </div>
                            <div class="col-sm-3">
                                <div class="chartContainer-white">
                                    <div class="chartHeader"><div class="chartTitle smallChart">Turnaround Time</div></div>
                                    <div class="pad10"><img src="/asset/img/STI_indicator_3.png" alt="" width="100%"></div>                                    
                                </div>
                                
                            </div>
                            <div class="col-sm-3">
                                <div class="chartContainer-white">
                                    <div class="chartHeader"><div class="chartTitle smallChart">Overall Satisfaction</div></div>
                                    <div class="pad10"> <img src="/asset/img/STI_indicator_4.png" alt="" width="100%"></div>                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
