<div class="container-fluid success-section-anchor">
        <!-- <div class="row flexbox flexcontainer-wrap animated fadeInRight"> -->
        <div class="row flexbox flexcontainer-wrap">
            <div class="col-xs-4 bg-navy ss-content1 ss-image-center">
                <div class="ss-logo2 color-white">
					<img src="/asset/img/icons/icon_erp.png" />
					<h3 class="no-pad title-description">ERP Disruption</h3>
					<p>SAP’s S/4HANA promises to be the most disruptive value proposition to impact the ERP market in 25 years. Enabled by S/4HANA and HPE Hybrid IT, SHAPE is HPE’s and SAP’s joint approach to solution & deliver your journey to the Digital Enterprise. SAP’s S/4 HANA promises SAP Customers the benefits of a Digital Enterprise via a complete renewal of their SAP application architecture. Together we will define a Journey that is continuously optimized and designed to be executed quickly, safely and with business outcomes as the measure of success</p>
                </div>
            </div>
            <div class="col-xs-8 bg-turqoise">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-disc-bullet">
                            <li>Approach is focused on reducing time to value and capital investment, while simplifying your SAP real estate</li>
                            <li>Implemented with an engineered, software and tools-accelerated delivery approach, delivered through industrialized S/4HANA Centers of Excellence</li>
                            <li>Managed by HPE SAP on Demand: Always on, automation-ready Hybrid IT with agile DevOps and preventive operations based on business outcome service management principles</li>
							<li>Demonstrable Business Process Services capability to optimize processes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row bg-gray flexbox flexcontainer-wrap animated fadeInLeft"> -->
        <div class="row bg-gray flexbox flexcontainer-wrap">
            <div class="col-xs-5 image-block col">
                <img src="/asset/img/sap-hana-main-img.jpg" width="100%"/>
            </div>
            <div class="col-xs-7 ss-content2 col">
                    <ul class="col-xs-5 list-tick list-tick-pad">
                        <li>Flexible, simpler business processes</li>
                        <li>Simpler user experience</li>
                        <li>Faster time to market</li>
                        <li>Secure and govern</li>
						<li>Better decision-making</li>
                        <li>Reduce TCO by ~30-40% and business costs by ~5-10%</li>
                        <li>Increased revenue and customer satisfaction</li>
						<li>Real-time decisions</li>
                        <li>Simpler data processing and operations</li>
                    </ul>
					<div class="col-xs-6 col-xs-offset-1">
                         <img src="img/sap-hana-simplified.png" width="100%"/>
                    </div>
            </div>
        </div>
</div>

