<div id="3" class="success-section-anchor"></div>
<div class="row div-step3 pagewidth-limiter">
    <div>
        <!-- <div class="row ss2-row1 animated bounceInRight"> -->
        <div class="row ss2-row1">
            <div class="col-xs-4 bg-navy ss-content1 ss-image-center">
                <div class="ss-logo2">
                <div class="story-icon-wrapper"><img src="/asset/img/icons/Story_Icon-05.png" /></div>
                <br>
                <h3 class="no-pad title-description">Broadband<br/>telecommunications company</h3>                
                </div>
            </div>
            <div class="col-xs-8 bg-turqoise ss-content3">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="no-pad color-navy">Business Need</h2>
                        <h3 class="color-navy title-description">Information Management & Advisory Services</h3>
                        <p>
                            After years of new user requirements and subsequent data warehouse (DW) evolutions, the Client needed to define a roadmap to evolve its DW platform, cope with its internal users’ needs and solve infrastructure and technical issues. In particular, the company lacked a clear understanding of its business intelligence landscape and end-user analytic platform. The Client wanted to increase its level of customer service through better quality customer data/information.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row bg-gray ss2-row2 flexbox animated bounceInLeft"> -->
        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-5 image-block col">
                <img src="/asset/img/story/5_main_half.jpg" width="100%"/>
            </div>
            <div class="col-xs-7 ss-content2 col">
                <h2 class="darkgrey">HPE Solution</h2>
                    <ul class="list-tick list-tick-pad">
                        <li>HPE gained an understanding of the business via assessment of the current situation from a technical, informational and organizational point of view.</li>
                        <li>HPE helped the client identify a journey via a gap analysis to identify HPE business intelligence best practices, showing a detailed list of issues along with a description and the drawbacks if not resolved.</li>
                        <li>HPE created a roadmap of actions to solve the solution gaps, with descriptions, measurable benefits, time required and costs.</li>
                    </ul>
            </div>
        </div>

        <!-- <div class="row bg-gray ss2-row2 flexbox animated bounceInDown"> -->
        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-10 ss-content2">
                <h2 class="darkgrey">Outcome</h2>
                <ul class="list-tick list-tick-pad">
                    <li>Ensure that all sales, marketing and customer care programs and analysis are based on accurate, consistence and reliable data.</li>
                    <li>Rationalize the potential represented by the enterprise data.</li>
                    <li>Better customer experience and increase in customer service levels, as shown in the Net Promoter Score Index</li>
                </ul>                                
            </div>
            <div class="col-xs-2  ss-content pad20">
                <h2 class="darkgrey">Source</h2>
                <div class="pdflink"><a target="_blank" class="darkgrey" href="pdf/slide22.pdf"><i class="hpe-document-pdf huge"></i></a></div>
            </div>
        </div>
    </div>
</div>

