<div id="3" class="success-section-anchor"></div>
<div class="row div-step3 pagewidth-limiter">
    <div>
        <!-- <div class="row ss2-row1 animated bounceInRight"> -->
        <div class="row ss2-row1">
            <div class="col-xs-4 bg-navy ss-content1 ss-image-center">
                <div class="ss-logo2">
                <div class="story-icon-wrapper"><img src="/asset/img/icons/Story_Icon-04.png" /></div>
                <br>
                <h3 class="no-pad title-description">Automotive Manufacturer</h3>                
                </div>
            </div>
            <div class="col-xs-8 bg-turqoise ss-content3">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="no-pad color-navy">Business Need</h2>
                        <h3 class="color-navy title-description">HPE plans and executes a successful migration to SAP HANA</h3>
                        <!-- <p>The client relies heavily on business intelligence (BI) and wanted to grow topline revenues by leveraging all of the company's data for suppliers, customers, and more. The Client wanted to:
                        </p> -->
                        <ul class="businessneed">
                            <li>Increase production output to 3 million vehicles by 2020</li>
                            <li>Improve response speed of SAP BW system</li>
                            <li>Reduce amount of system data and enhance overall user experience</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row bg-gray ss2-row2 flexbox animated bounceInLeft"> -->
        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-5 image-block col">
                <img src="/asset/img/story/5_main_half.jpg" width="100%"/>
            </div>
            <div class="col-xs-7 ss-content2 col">
                <h2 class="darkgrey">HPE Solution</h2>
                    <ul class="list-tick list-tick-pad">
                        <li>HPE reviewed the business requirements to ensure business direction alignment and Identify the clients transformation journey.</li>
                        <li>Conducted an assessment of the existing systems to help Scope required IS change and assess architectural impact.</li>
                        <li>Defined a transformation roadmap including.</li>
                    </ul>
                    <ul class="businessneed">
                            <li>Replacement of the existing Oracle database with SAP HANA in-memory computing platform for the SAP BW system.</li>
                            <li>Proposal of  the SAP HANA Scale-Out System with multi-HANA nodes to balance the workload.</li>
                    </ul>
            </div>
        </div>

        <!-- <div class="row bg-gray ss2-row2 flexbox animated bounceInUp"> -->
        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-10 ss-content2">
                <h2 class="darkgrey">Outcome</h2>
                <ul class="list-tick list-tick-pad">
                    <li>Client experienced significant performance improvement, including faster report generation and response times.</li>
                    <li>Better and faster understanding of Clients business KPIs, improving management decision making.</li>
                    <li>Ability for Client to respond more quickly to customer feedback, improving customer satisfaction.</li>
                    <li>Scalable platform for growth.</li>
                </ul>                                
            </div>
            <div class="col-xs-2  ss-content pad20">
                <h2 class="darkgrey">Source</h2>
                <div class="pdflink"><a target="_blank" class="darkgrey" href="pdf/slide21.pdf"><i class="hpe-document-pdf huge"></i></a></div>
            </div>
        </div>
    </div>
</div>

