<div id="3" class="success-section-anchor"></div>
<div class="row div-step3 pagewidth-limiter">
    <div>
        <!-- <div class="row ss2-row1 animated bounceInDown"> -->
        <div class="row ss2-row1">
            <div class="col-xs-4 bg-navy ss-content1 ss-image-center">
                <div class="ss-logo2">
                <div class="story-icon-wrapper"><img src="/asset/img/icons/Story_Icon-06.png" /></div>
                <br>
                <h3 class="no-pad title-description">Electricity generation and<br/>electricity retailing company</h3>          
                </div>
            </div>
            <div class="col-xs-8 bg-turqoise ss-content3">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="no-pad color-navy">Business Need</h2>
                        <h3 class="color-navy title-description">HPE Services helped the Client create and execute the right cloud adoption strategy for its business.</h3>
                        <ul class="businessneed">
                            <li>Targeting further customer growth and increased conversion of existing customers to multiple utility services</li>
                            <li>Insufficient IT resources to support a growing infrastructure</li>
                            <li>Delivery of IT services was taking too long</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row bg-gray ss2-row2 flexbox animated bounceInLeft"> -->
        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-5 image-block col">
                <img src="/asset/img/story/5_main_half.jpg" width="100%"/>
            </div>
            <div class="col-xs-7 ss-content2 col">
                <h2 class="darkgrey">HPE Solution</h2>
                    <ul class="list-tick list-tick-pad">
                        <li>HPE gained an understanding of the Clients business alignment based on a comprehensive applications and infrastructure assessments.</li>
                        <li>HPE Services helped the Client identify their journey towards cloud services, and supported the client’s transformation to a hybrid infrastructure.</li>
                        <li>HPE Services helped the Client create a roadmap defining the execution of a cloud adoption strategy for its business.</li>
                    </ul>
            </div>
        </div>

        <!-- <div class="row bg-gray ss2-row2 flexbox animated bounceInRight"> -->
        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-10 ss-content2">
                <h2 class="darkgrey">Outcome</h2>
                <ul class="list-tick list-tick-pad">
                    <li>Freed up resources to focus on the business and in-customer experience.</li>
                    <li>Ability to deliver services to customers faster and in a more cost-effective manner.</li>
                    <li>Ability to quickly implement new business solutions.</li>
                </ul>                                
            </div>
            <div class="col-xs-2  ss-content pad20">
                <h2 class="darkgrey">Source</h2>
                <div class="pdflink"><a target="_blank" class="darkgrey" href="pdf/slide23.pdf"><i class="hpe-document-pdf huge"></i></a></div>
            </div>
        </div>
    </div>
</div>

