<div id="3" class="success-section-anchor"></div>
<div class="row div-step3 pagewidth-limiter">
    <div>
        <!-- <div class="row ss2-row1 animated fadeInLeft"> -->
        <div class="row ss2-row1">
            <div class="col-xs-4 bg-navy ss-content1 ss-image-center">
                <div class="ss-logo2">
                <div class="story-icon-wrapper"><img src="/asset/img/icons/Story_Icon-03.png" /></div>
                <br>
                <h3 class="no-pad title-description">Leader in electronic collections<br/>and ATM networks</h3>                
                </div>
            </div>
            <div class="col-xs-8 bg-turqoise ss-content3">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="no-pad color-navy">Business Need</h2>
                        <h3 class="color-navy title-description">An HPE transformation consulting engagement resulted in a new Enterprise Architecture and transformation plan.</h3>
                        <!-- <p>The client relies heavily on business intelligence (BI) and wanted to grow topline revenues by leveraging all of the company's data for suppliers, customers, and more. The Client wanted to:
                        </p> -->
                        <ul class="businessneed">
                            <li>The Clients business strategy was moving towards a new generation of payment collection. However, it was impossible to expand their market and product offerings with their current IT architecture. The current technology did not allow this growth and was even at some risk in its ability to sustain the current operations.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row bg-gray ss2-row2 flexbox animated fadeInRight"> -->
        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-5 image-block col">
                <img src="/asset/img/story/5_main_half.jpg" width="100%"/>
            </div>
            <div class="col-xs-7 ss-content2 col">
                <h2 class="darkgrey">HPE Solution</h2>
                    <ul class="list-tick list-tick-pad">
                        <li>Aligned on business direction through assessment of business needs and current IT architecture.</li>
                        <li>Performed an architectural assessment through interview of technical stakeholders and hosting of workshops to understand the Information, infrastructure and security.</li>
                        <li>Drove Management of Change through generation of charts and diagrams showing business value and context , SWOT analysis, and a matrix of objectives and critical success factors.</li>
                        <li>Defined a new target enterprise architecture delivering a Framework that allows the Client to adopt this new architecture in phases, with a clear link between IT and business drivers.</li>
                    </ul>
            </div>
        </div>

        <!-- <div class="row bg-gray ss2-row2 flexbox animated fadeInUp"> -->
        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-10 ss-content2">
                <h2 class="darkgrey">Outcome</h2>
                <ul class="list-tick list-tick-pad">
                    <li>The Client now has a target Enterprise Architecture and an actionable plan to move from their current state to future state.</li>
                    <li>Future state has specific alignment to the business strategy and proper architectural decisions based on business needs.</li>
                </ul>                                
            </div>
            <div class="col-xs-2  ss-content pad20">
                <h2 class="darkgrey">Source</h2>
                <div class="pdflink"><a target="_blank" class="darkgrey" href="pdf/slide20.pdf"><i class="hpe-document-pdf huge"></i></a></div>
            </div>
        </div>
    </div>
</div>

