<div id="3" class="success-section-anchor"></div>
<div class="row div-step3 pagewidth-limiter">
    <div>
        <div class="row ss2-row1">
            <div class="col-xs-4 bg-navy ss-content1 ss-image-center">
                <div class="ss-logo2">
                <img src="img/icons/Retail_white_small2.png" />
                <br>
                <h3 class="no-pad title-description">US Beverage Company (USBC)</h3>
                <p style="line-height: 1; margin-top: 10px">“… if I think about the complexity of taking 11 different countries and multiple incidents, we ended up with something like 50 different application systems, upgrades and moves. That transition was almost military in its precision and delivery … The ITO side of it and the data center moves migrations were fantastic,” – CIO Europe, USBC</p>
                </div>
            </div>
            <div class="col-xs-8 bg-turqoise ss-content3">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="no-pad color-navy" style="margin-top:25px">Business Need</h2>
                        <h3 class="color-navy title-description">Simplify operating model. Improve consistency</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-disc-bullet">
                            <li>USBC wanted to standardize their environment to realize a reduction in cost, improvement of service quality, and globally consistent standards</li>
                            <li>Deliver required cost reductions, service excellence, and global consistency.</li>
                            <li>Focus on Central Europe integration for consistency and cost savings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-gray ss2-row2 flexbox">
            <div class="col-xs-5 image-block col">
                <img src="img/story/5_main_half.jpg" width="100%"/>
            </div>
            <div class="col-xs-7 ss-content2 col">
                    <ul class="list-tick list-tick-pad">
                        <li> Planned and delivered complete technology refresh to all HP infrastructure, data center consolidations and full IT integration
                        </li>
                        <li>Globally managed program</li>
                        <li>Extension of standard ITIL processes to Central Europe</li>
                        <li>Strong joint governance model to enable rapid escalation and issue resolution</li>
                    </ul>
            </div>
        </div>
    </div>
</div>

